<div class="w-[1024px] h-[800px] max-w-full max-h-full">

  <div class="flex flex-col bg-amber-200 w-11/12 h-full mr-auto ml-auto justify-center items-center">
    <div class="flex w-full h-5/6 items-center">
      <div class="w-full h-full">
        Map
      </div>
    </div>
    <div class="flex flex-row w-full border-amber-950 h-1/6">
      <div class="flex justify-center w-3/12 h-full">
        Image du pilote
      </div>
      <div class="flex justify-center w-10/12 h-full">
        Controlleur
      </div>
    </div>
  </div>

</div>
