<head>
  <title>{{ title }}</title>
  <!-- Google material  -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        rel="stylesheet"/>
</head>
<div class="flex flex-row md:flex-col h-screen md:pl-28 md:mb-4">

  <app-menu-desk class="flex-none hidden md:block"></app-menu-desk>

  <div class="flex flex-col w-full h-full justify-start items-center overflow-auto scrollbar-hide">
    <app-navbar class="w-full h-1/12"></app-navbar>
    <div class="h-full w-full flex justify-center items-center bg-amber-50 md:mb-4">
      <div class="md:w-[1800px] md:h-[800px]">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-footer class="w-full mt-18 pt-2 "></app-footer>

</div>
